name: ci-release

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v6
        with:
          node-version: lts/*

      - run: npm ci

      - name: Semantic Release
        id: release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx semantic-release

      - name: Update package.json version from git tag
        run: |
          VERSION=$(git describe --tags --abbrev=0)
          jq --arg v "${VERSION#v}" '.version=$v' package.json > package.tmp.json
          mv package.tmp.json package.json

      - name: Publish VSCE Package
        if: success()
        env:
          VSCE_TOKEN: ${{ secrets.VSCE_TOKEN }}
        run: npx vsce publish -p $VSCE_TOKEN
